
:root {
    --pink: #fce8ff;
    --yellow: #ffc457;
    --yellow-light:#e9e5d8;
    --sky:#afe8ff;
  }
  @font-face {
    font-family: RockfordSans;
    src: url("../font/RockfordSans-Light.otf") format("opentype")
}

@font-face {
    font-family: LuthonSouthardSerif;
    src: url("../font/LuthonSouthardSerif.ttf") format("truetype")
}

@font-face {
    font-family: Roxierossa;
    src: url("../font/Roxierossa.ttf") format("truetype")
}
body{
    /*background-color: var(--pink);*/
    background-color: var(--yellow-light);
    min-height: 100vh;
}
h1{
    font-family: LuthonSouthardSerif;
    /*font-family: RockfordSans;
    color: var(--yellow);*/
}
h2{
    font-family: LuthonSouthardSerif;
    color: var(--pink);
}
h3{
    font-family: Roxierossa;
    color: var(--pink);
}
.h-80p{
    height:80vh;
}
.lh-80{
line-height:80vh !important;
}
.name-list h1 {
    color: white;
    text-align: center;
    max-width: 70px;
    /* max-height: 70px; */
    display: block;
    margin: auto;
    border-radius: 50%;
    line-height: 70px;
    font-size: 50px;
}
