
:root {
    --pink: #fce8ff;
    --yellow: #ffc457;
    --sky:#afe8ff;
  }
  @font-face {
    font-family: RockfordSans;
    src: url("../font/RockfordSans-Light.otf") format("opentype")
}

@font-face {
    font-family: LuthonSouthardSerif;
    src: url("../font/LuthonSouthardSerif.ttf") format("truetype")
}

@font-face {
    font-family: Roxierossa;
    src: url("../font/Roxierossa.ttf") format("truetype")
}
body{
    /*background-color: var(--pink);*/
    background-color: var(--sky);
    min-height: 100vh;
}
h1{
    font-family: RockfordSans;
    color: var(--yellow);
}
h2{
    font-family: LuthonSouthardSerif;
    color: var(--pink);
}
h3{
    font-family: Roxierossa;
    color: var(--pink);
}
